<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--
     properties 配置，用于加载外部的properties配置文件
    -->
    <properties resource="db.properties"></properties>


    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--mappers主要用于配置我们外部的映射配置文件
        在主配置文件中需要引入加载映射配置文件
    -->
    <mappers>
        <mapper resource="mapper/usersMapper.xml"/>
    </mappers>
</configuration>
