<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.imooc.shop.repository.ArticleMapper">

	<select id="searchArticles" resultType="Article">
		select * from ec_article
		<where>
            <if test="typeCode!= null &amp;&amp; typeCode!=''">
                and TYPE_CODE like CONCAT("",#{typeCode},"%")
            </if>
            <if test="secondType!= null &amp;&amp; secondType!=''">
                and TYPE_CODE =#{secondType}
            </if>
            <if test="title!= null &amp;&amp; title!=''">
                and title like CONCAT("%",#{title},"%")
            </if>
        </where>
	</select>
</mapper>