<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="food" class="com.hn.food.FoodServiceImpl">
        <property name="name" value="香蕉"/>
        <property name="kind" value="水果"/>
        <property name="taste" value="甜甜的"/>
    </bean>
</beans>